# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
ENV/
.env.*
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
*.pytest_cache/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Coverage
htmlcov/
.coverage
coverage.xml

# Build
build/
dist/
*.egg-info/
